*{

  font-family: 'Delius', cursive;
}
h1,h2,h3,h4,h5{
  /* font-family: 'Delius', cursive; */
  font-family: 'Noto Sans JP', sans-serif;
}
/* body */
body{
margin: 0;
}
.unipadding{
padding:0 7%;
}
/* topbar */
#topbar{
  background-color: #22577A;
  padding-top: 18px;
  padding-bottom: 18px;
  overflow: auto;
}
/* social icon */
#social-icon{
  float: right;
}
#tollfree{
  font-size: 16px;
  float: left;
  color:#fdfdfd;
  margin: 0px;
  padding: 5px;
}
.fab{
  background-color: #fdfdfd;
  color: #576574;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
}
.fa-instagram{
  padding: 7px 8px;
}
.fa-viber{
  padding: 7px 8px;
}
.fab:hover{
  color: rgb(32, 137, 207);
}
.fa-youtube:hover{

  color: crimson;
}
.fa-twitter:hover{
  color: #6699cc;
}
.fa-viber:hover{
  color: #6464f1;
}

.poster{
  background-image: url(./slider_photos/1.JPG);
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.poster h3{
  font-size: 75px;
  padding: 0px;
  margin: 0px;
}
.poster p{
  text-align: center;
  color: red;
  font-size: 40px;
  font-weight: bold;
  
}
/* #logobar {
  width: 100%;
  margin: 10px 0px ;
  margin-bottom: 5px; 
  

} */


#navbar{
  background-color: #38A3A5;

}

#navbar ul li {
 
  display: inline;
  justify-content: center;
  padding: 20px 0px;
  padding-right: 35px;
  /* margin-left: 0px; */
  color: #fdfdfd;
  cursor: pointer;
  
  }
#navbar ul{
  padding-inline-start: 0px;
  margin: 0px;
  
} 
#navbar ul li:hover{
  color: #666699;
  
}

#navbar ul li a{
  text-decoration: none;
  color: #fdfdfd;
  font-size: 18px;    
  
}
#navbar ul li a:hover{
  color: blue;
}
#imp-link{
  background-color:#57CC99 ;
  color: white;
  overflow: auto;
  display: flex;
  flex-wrap: ;
  }

.gallery{
  
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
}
  #imp-link a:hover{
      color: blue;
  }
.div33{
   width: 33.33%;
   float: left;
   padding: 25px 50px;
   box-sizing: border-box;
}
.div33 h3 {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  
}


/* footer */


#footer-menu{
  list-style-type: none;
  padding: 0%;
  
  }
   
  
  #footer-menu li{
      padding-bottom: 10px;
  }
  #footer-menu li a{
      color: white;
      text-decoration: none;  
  }
  #footer-menu-contaner{
      padding-left: 100px ;
  }
  .content-aboutme{
   text-align: justify;
  }
  .content-contactme{
      text-align: justify;
  }
  .facebook{
      font-size: 50px;
  }
  .twitter{
      font-size: 50px;
      }
  .instagram{
      font-size: 50px;
  }
  .viber{
      font-size: 50px;
  }
  .youtube{
      /* display: flexbox; */
      margin-top: 5px;
      font-size: 40px;
  }
  
  #copyright{
      background-color:#80ED99;
      color: rgb(98, 0, 255);
      text-align: center;
      padding: 1px;
  }
  /* responsive ipad*/
  @media only screen and (max-width:768px){
      .section70{
          padding-right: 0px;
          box-sizing: border-box;
      }
  
      #contact-btn {
          background-color: white;
          color: tomato;
          border-radius: 8px;
          padding: 1px 10px;
          text-decoration: none;
          font-size: 18px;
          font-weight: bold;
      }
  }
  /* responsive mobile */
  @media only screen and (max-width:500px){
      #navbar ul li {
          /* display: inline-block; */
          padding: 10px 30px;
          padding-right: 10px;
          margin-left: 0px;
      }
      .section33,.section30,.section50,.section70 {
          width: 100%;
          padding: 0%;
      }
     .section33 a{
         display:inline-block;
         margin-bottom: 30px;
     }
     .div33 {
      width: 100%;
      padding: 20px 20px;
      text-align: center;
  }
  #footer-menu-contaner {
      padding-top: 20px;
      padding-left: 0px;
  }
  #logobar{
      padding: 0px;
      margin: 0px;
  }
   #logobar img {
      width: 100%; 
      background-color: #576574;
      } 
  
  
      .section50 input[type="text"] {
          color: tomato;
          margin-right: 10px;
          border: 0px;
          width: 52%;
          padding: 7px 10px;
          font-size: 15px;
      }
      .section50 form {
          padding-top: 0px;
      }
      .section70{
          padding-right: 0px;
          text-align: center;
      }
      .section50 h2 {
          text-align: center;
          margin-left: 50px;
      }
      .section30 {
          padding-top: 12px;
      }
      .div33{
          width: 100%;
      }
      .poster h3 {
          font-size: 30px;
      }
          /* #logobar{
              text-align: center;
          } */
  
  
          .unipadding
           {
              padding: 0px 4%;
              
                    }
  
          .section50 h2 
          {
              font-size: 24px;
          }
      }
     
         
     